/* Global Styles */

:root {
    --primary-color: #17a2b8;
    --primary-color: #f4f4f4;
    --dark-color: #ec2d2d;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    height: 100%;
    width: 100%;
    /* background: url('../src/backgroundimg/yelpHome.jpg') no-repeat center center/cover;
    height: 100vh; */
}

.search-container .form-group {
    width: 100%
}

.search-form input {
    height: 40px;
    width: 900px;
    border: none;
    color: black;
}

.btn-search {
    display: inline-block;
    background: #d32323;
    color: white;
    padding: 1.2rem 2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    /* height: 40px; */
}


/* .search-form .searchButton {
    height: 40px;
    width: 45px;
    border: none;
    background-color: #d32323;
} */

.logo-icon {
    height: 50px;
    width: 90px;
}

.logo-icon-large {
    height: 75px;
    width: 150px;
    /* display: block;
    width: 100%;
    height: 100%;
    text-indent: -1000em; */
}

h3 {
    font-weight: bold;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
}

ul {
    list-style: none;
}


/******** REstaurant menucards******/

.card mb-3 {
    max-width: 540px;
}


/******** Restaurant Menu Images*****/

img {
    width: 240px;
    height: 265px;
}


/*******Cards horizontal*******/

.card {
    /* border: solid grey 1px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* img {
    width: 100%;
} */


/* Utilities */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}


/* Text Styles*/

.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1rem;
}

.x-small {
    font-size: 0.5rem;
}

.text-center {
    text-align: center;
}

.text-light {
    color: var(--primary-color);
}

.text-primary {
    /* color: var(--primary-color); */
    color: rgb(46, 122, 221)
}

.text-dark {
    color: var(--dark-color);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    /* width: 80%; */
}


/* Padding */

.p {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.py {
    padding: 0.5rem 0;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}


/* Margin */

.m {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.my {
    margin: 0.5rem 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
}

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #0073bb;
    font-size: 1.5rem;
    border: 1px solid grey;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
    font-size: 1.5rem;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: #d32323;
    color: #fff;
    font-size: 1.5rem;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}


/* .btn:hover {
    opacity: 0.8;
} */

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}

.line {
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}


/* Overlay */

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Forms */

.form .form-group {
    margin: 1.2rem 0;
    font-size: 16px;
}

.form .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
    font-size: 12px;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.form input[type='submit'],
button {
    font: inherit;
}

.form .social-input {
    display: flex;
}

.form .social-input i {
    padding: 0.5rem;
    width: 4rem;
}

.form .social-input i.fa-twitter {
    color: #38a1f3;
}

.form .social-input i.fa-facebook {
    color: #3b5998;
}

.form .social-input i.fa-instagram {
    color: #3f729b;
}

.form .social-input i.fa-youtube {
    color: #c4302b;
}

.form .social-input i.fa-linkedin {
    color: #0077b5;
}

.table th,
.table td {
    padding: 1rem;
    text-align: left;
}

.table th {
    background: var(--light-color);
}


/* Navbar */

img .logo-icon {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 2rem;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    border-radius: none;
    border-bottom: none;
    opacity: 0.9;
    min-height: 8vh;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navBar {
    display: flex;
}

.navRight {
    padding: 0 900px;
}

.navbar ul {
    display: flex;
    align-items: right;
}


/**********Image Uploads********/

.custom-file-input {
    height: 20px;
    border: 1px solid lightgray;
}


/* .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
} */


/* .navbar a:hover {
    color: var(--primary-color);
}

.navbar .welcome span {
    margin-right: 0.6rem;
} */


/* Landing Page */

.landing {
    position: relative;
    /* background: url('../src/backgroundimg/yelpHome.jpg') no-repeat center center/cover; */
    background-image: url('https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/a2a6dfbdce53/assets/img/home/hero_photos/Y52KtIDZeG8aAMBaLIjSlQ.jpg');
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    /* width: 100%;
    background-size: size;
    display: flex;
    justify-content: center;
    
    color: #fff;
    margin: auto;
    padding-top: 0%; */
    /* align-items: center; */
    /* display: block; */
}

.navBar {
    width: 100%
}

.options {
    width: 80%;
    height: 200px;
    /* background-color: hotpink; */
}

.search_bar {
    width: 40%;
    position: relative;
}

.serach_bar input[type='text'] {
    width: 100%;
    padding: 20px;
}

.search-options {
    display: flex;
    padding: 0.7rem 2rem;
    justify-content: space-between;
    width: 100%;
}

.search-options li {
    float: left;
}

.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}


/******** 2Columns Maps *******/

.container_2columnsmaps {
    display: flex;
}

.column1maps {
    margin: 0 15px 25px;
    border: none;
    width: 50%;
}

.column2maps {
    margin: 0 15px 25px;
    border: none;
    width: 50%;
}


/******** 2Columns *******/

.container_2columns {
    display: flex;
}

.column1 {
    margin: 0 15px 25px;
    border: none;
    width: 70%;
}

.column2 {
    margin: 0 15px 25px;
    border: none;
    width: 30%;
}


/*3columns*/

.container_3columns {
    display: flex;
}

.column_1 {
    margin: 0 15px 25px;
    border: none;
    width: 25%;
}

.column_2 {
    margin: 0 15px 25px;
    border: none;
    width: 50%;
}

.column_3 {
    margin: 0 15px 25px;
    border: none;
    width: 25%;
}


/******* Event Cards******/

.card_img {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.cards_wrap {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.cards_wrap .card_item {
    width: 25%;
    padding: 10px;
    overflow: scroll;
}

.cards_wrap .card_inner {
    background: #fff;
    overflow: scroll;
}

.cards_wrap .card_top {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 0;
    overflow: scroll;
}

.cards_wrap .card_bottom {
    padding: 15px;
    overflow: scroll;
}

.cards_wrap .card_bottom .card_info {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid lightgray;
    overflow: scroll;
}

.cards_wrap .card_bottom .card_info .title {
    color: #0071bc;
    font-size: 18px;
    margin-bottom: 5px;
    overflow: scroll;
}


/* @media (max-width: 1024px) {
    .cards_wrap .card_item {
        width: 33.3%;
    }
}

@media (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }
}

@media (max-width: 528px) {
    .cards_wrap .card_item {
        width: 100%;
    }
} */


/* Profiles Page */


/* .profile {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: left;
    grid-gap: 1rem;
    padding: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
}


/*Events page 

.card {
    /* Add shadows to create the "card" effect 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
} */


/* On mouse-over, add a deeper shadow */


/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container

.container {
    padding: 2px 16px;
} */


/* Profile Page */


/* .profile-grid {
    display: grid;
    grid-template-areas: 'top top''about about''exp edu''github github';
    grid-gap: 1rem;
}

.profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} */


/* .profile-top img {
    width: 250px;
} */


/* .profile-top .icons a {
    color: black;
    margin: 0 0.3rem;
}

.profile-top .icons a:hover {
    color: var(--dark-color);
}

.profile-about {
    grid-area: about;
    text-align: center;
}

.profile-about .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */


/* .profile-exp {
    grid-area: exp;
}

.profile-edu {
    grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
    margin-bottom: 1rem;
}

.profile-exp>div,
.profile-edu>div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
} */


/* .profile-exp>div:last-child,
.profile-edu>div:last-child {
    border: 0;
}

.profile-exp p,
.profile-edu p {
    margin: 0.5rem 0;
}

.profile-github {
    grid-area: github;
} */


/* .profile-github .repo {
    display: flex;
}

.profile-github .repo>div:first-child {
    flex: 7;
    flex-basis: 70%;
}

.profile-github>div:last-child {
    flex: 3;
    flex-basis: 20%;
} */


/* Posts Page */

.post-form .post-form-header {
    background: var(--primary-color);
    padding: 0.5rem;
}

.post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    align-items: center;
}

.post>div:first-child {
    text-align: center;
}

.post img {
    width: 100px;
}

.post .comment-count {
    background: var(--light-color);
    color: var(--primary-color);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.post .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}


/* Mobile Styles */

@media (max-width: 700px) {
    .container {
        margin-top: 8rem;
    }
    .hide-sm {
        display: none;
    }
    /* Text Styles */
    .x-large {
        font-size: 3rem;
        font-weight: bold;
    }
    .large {
        font-size: 2rem;
    }
    .lead {
        font-size: 1rem;
    }
    /* Navbar 
    .navbar {
        display: block;
        text-align: center;
    }
    .navbar ul {
        text-align: center;
        justify-content: center;
    }
    .navbar h1 {
        margin-bottom: 1rem;
    }
    .navbar .welcome {
        display: none;
    }*/
    /* Profiles Page */
    .profile {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .profile ul {
        display: none;
    }
    /* Profile Page */
    .profile-top img,
    .profile img {
        width: 200px;
        margin: auto;
    }
    .profile-grid {
        grid-template-areas: 'top''about''exp''edu''github';
    }
    .profile-about .skills {
        flex-direction: column;
    }
    .dash-buttons a {
        display: block;
        width: 100%;
        margin-bottom: 0.2rem;
    }
    .post {
        grid-template-columns: 1fr;
    }
    .post a,
    .post button {
        padding: 0.3rem 0.4rem;
    }
}